.imageContainerSnake3{
    position: absolute;
    top: 18rem;
    left: 44rem;
    .snake3{
        width: 15rem;
        height: 8rem;
    }
}
.imageContainerSnake2{
    position: absolute;
    top: 10rem;
    left: 27rem;
    .snake2{
        width: 15rem;
        height: 8rem;
    }
}
.imageContainerSnake4{
    position: absolute;
    top: 21rem;
    left: 25rem;
    .snake4{
        width: 5rem;
        height: 11rem;
    }
}

.imageContainerLadder1{
    position: absolute;
    top: 25rem;
    left: 40rem;
    .ladder1{
        width: 4rem;
        height: 11rem;
    }
}
.imageContainerLadder2{
    position: absolute;
    top: 3rem;
    left: 40rem;
    .ladder2{
        width: 4rem;
        height: 11rem;
    }
}