.imageContainerSnake3{
    width: 15rem;
    height: 8rem;
    position: relative;
    top: -5rem;
    left: -12rem;
    .snake3{
        width: 15rem;
        height: 8rem;
    }
}
.imageContainerSnake2{
    width: 15rem;
    height: 8rem;
    position: relative;
    top: -3rem;
    left: -7rem;
    .snake2{
        width: 15rem;
        height: 8rem;
    }
}
.imageContainerSnake4{
    width: 5rem;
    height: 11rem;
    top: -2rem;
    left: -1rem;
    position: relative;
    .snake4{
        width: 5rem;
        height: 11rem;
    }
}

.imageContainerLadder1{
    width: 4rem;
    height: 11rem;
    position: relative;
    top: -14rem;
    left: -1rem;
    .ladder1{
        width: 4rem;
        height: 11rem;
    }
}
.imageContainerLadder2{
    width: 4rem;
    height: 11rem;
    position: relative;
    top: -14rem;
    left: -1rem;
    .ladder2{
        width: 4rem;
        height: 11rem;
    }
}